# Environment and secrets
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/

# App data
app/data/processed/

# Ignore vector DB and heavy PDFs
app/data/vectorstore/
app/data/source_pdfs/*.pdf


# OS/editor noise
.DS_Store
Thumbs.db
.idea/
.vscode/
