# Core
fastapi==0.118.0
uvicorn[standard]==0.37.0
pydantic==2.11.1
python-dotenv==1.0.1

# Vector DB + NLP
chromadb==1.1.0
sentence-transformers==5.1.1
torch==2.2.2

# PDF / OCR
pymupdf==1.26.4
pytesseract==0.3.13
Pillow==11.0.0

# Utils
numpy==2.0.1
requests==2.32.3
tqdm==4.66.5
python-multipart==0.0.20

# Extra
langdetect==1.0.9
rank-bm25==0.2.2
sse-starlette==3.0.2
scikit-learn==1.5.2
tiktoken==0.7.0
